
<label for="title">
	<f:translate key="tx_hemodules_domain_model_modules.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="additional">
	<f:translate key="tx_hemodules_domain_model_modules.additional" />
</label><br />
	<f:form.textarea property="additional" cols="40" rows="15" /><br />
<label for="description">
	<f:translate key="tx_hemodules_domain_model_modules.description" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="url">
	<f:translate key="tx_hemodules_domain_model_modules.url" />
</label><br />
	<f:form.textfield property="url" /><br />
<label for="credits">
	<f:translate key="tx_hemodules_domain_model_modules.credits" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="credits" /><br />
<label for="level">
	<f:translate key="tx_hemodules_domain_model_modules.level" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="level" /><br />
<label for="semester">
	<f:translate key="tx_hemodules_domain_model_modules.semester" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="semester" /><br />