
<table class="tx-he-modules" >
	<tr>
		<td>
			<f:translate key="tx_hemodules_domain_model_modules.title" />
		</td>
		<td>
		{modules.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hemodules_domain_model_modules.additional" />
		</td>
		<td>
		{modules.additional}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hemodules_domain_model_modules.description" />
		</td>
		<td>
				<a href="{modules.description.originalResource.publicUrl}">
					{modules.description.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hemodules_domain_model_modules.url" />
		</td>
		<td>
		{modules.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hemodules_domain_model_modules.credits" />
		</td>
		<td>
		{modules.credits}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hemodules_domain_model_modules.level" />
		</td>
		<td>
		{modules.level}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hemodules_domain_model_modules.semester" />
		</td>
		<td>
		{modules.semester}
		</td>
	</tr>
</table>